.project-showcase-container {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .project-showcase-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .project-showcase-container p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .project-images {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .project-image {
    flex: 1;
    overflow: hidden;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .project-image:hover img {
    transform: scale(1.05);
  }
  